@model BibliotecaAppV2.Models.Editora
@{
    ViewData["Title"] = "Excluir Editora";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<h3>Tem certeza que deseja excluir esta editora?</h3>
<div>
    <h4>Editora</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Nome</dt>
        <dd class="col-sm-9">@Model.Nome</dd>
        <dt class="col-sm-3">Descrição</dt>
        <dd class="col-sm-9">@Model.Descricao</dd>
    </dl>
</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>